@use "utilities/variables";
@use "utilities/mixin";
@use "utilities/animaciones";

@use "base/reset";
@use "base/general";

@use "layout/header";
@use "layout/navbar";
@use "layout/main";
@use "layout/footer";
@use "layout/responsive";

@use "components/cards";
@use "components/contacto";
@use "components/nosotros";

