nav.navbar.barra-navegacion {
  background-color: rgba(30, 30, 30, 0.85);

  a.navbar-brand {
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
  }

  a.nav-link {
    color: #e6e6e6;
  }

  a.nav-link:hover {
    color: #c2b59b;
  }
}

