@use "../utilities/variables" as *; 

/*  BARRA DE NAVEGACIÓN - NAVBAR BOOTSTRAP  */

.navbar {
  margin-bottom: 0;
}

.navbar.navbar-dark {
  background-color: $fondo_navbar_transparente;
  backdrop-filter: blur($blur_navbar);
}

.navbar.navbar-dark .navbar-brand.logo-principal {
  color: $color_beige_principal;
  font-size: $tamano_marca_navbar;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.navbar.navbar-dark .nav-link.link-menu {
  color: $color_texto_nav_claro;
  font-size: $tamano_texto_chico;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar.navbar-dark .nav-link.link-menu:hover {
  color: $color_beige_principal;
  text-decoration: underline;
}

/* Botón hamburguesa */
.navbar-toggler {
  border-color: $color_borde_navbar;
}

/* margen  */
.navbar {
  margin-bottom: 0;
}


/* COLOR DEL LOGO */
.barra-navegacion {
  --bs-navbar-brand-color: #dad7c3;
  --bs-navbar-brand-hover-color: #dad7c3;
}

.barra-navegacion .navbar-brand.logo-principal {
  color: var(--bs-navbar-brand-color);
}
