* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #222;
}

main{
    padding: 40px;
}

section{
    margin-bottom: 60px;
}


.site-header {
    background-color: #1e1e1e;
}

.header-contenido {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #dddddd;
    text-decoration: none;
    font-size: 14px;
}

.nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}


.portada{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.portada img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.contenedor-propiedades{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.card-propiedad{
    max-width: 350px;
}

.card-propiedad img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}

.card-propiedad h4 {
    margin-bottom: 8px;
}

.card-propiedad p {
    margin-bottom: 10px;
}

.card-propiedad button {
    padding: 8px 12px;
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    cursor: pointer;
}


/*  FOOTER  */

footer {
    background-color: #1e1e1e;
    padding: 50px 40px;
    margin-top: 80px;
}

footer .contacto {
    max-width: 1200px;
    margin: 0 auto;
}

footer h3 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    color: #cccccc;
    font-size: 15px;
    margin-bottom: 10px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

footer a:hover {
    text-decoration: underline;
}

footer {
    background-color: #1e1e1e;
    border-top: 4px solid #3f5f5a;
}
footer h3 {
    color: #ffffff;
}

footer a {
    color: #a8d0c7;
}



/* ALQUILERES  */

.alquileres {
    padding: 40px;
}

.alquileres h2 {
    margin-bottom: 20px;
}

.contenedor-alquileres {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card-alquiler {
    width: 300px;
    border: 1px solid #ddd;
    padding: 15px;
}

.card-alquiler img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}

.card-alquiler h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.card-alquiler p {
    margin-bottom: 10px;
}

.card-alquiler button {
    padding: 8px 12px;
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    cursor: pointer;
}


.alquileres {
   background-color: #f7f7f7;
    padding: 80px 40px
}

/* Título */
.alquileres h2 {
    font-size: 32px;
    color: #1e1e1e;
    margin-bottom: 40px;
}

/* Cards */
.card-alquiler {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* Imagen */
.card-alquiler img {
    border-radius: 6px;
}

/* Título de cada propiedad */
.card-alquiler h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #1e1e1e;
}

/* Precio */
.card-alquiler .texto-alquiler {
    color: #555;
    font-weight: 500;
}

/* Botón */
.card-alquiler button {
    background-color: #c2b59b;
    color: #1e1e1e;
    border: none;
    padding: 10px 14px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

/* Hover botón */
.card-alquiler button:hover {
    background-color: #b1a487;
}

.card-alquiler:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}


/* VENTAS  */

.ventas h2 {
    margin-bottom: 20px;
}

.contenedor-ventas {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card-venta {
    width: 300px;
    border: 1px solid #ddd;
    padding: 15px;
}

.card-venta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}

.card-venta h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.card-venta p {
    margin-bottom: 10px;
}

.card-venta button {
    padding: 8px 12px;
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    cursor: pointer;
}


.ventas {
    padding: 60px 40px;
    background-color: #f5f5f5;
}

.ventas h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #1e1e1e;
}

.contenedor-ventas {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

/* Card de venta */
.card-venta {
    width: 300px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.card-venta:hover {
    transform: translateY(-5px);
}

.card-venta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-bottom: 15px;
    border-radius: 6px;
}

.card-venta h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #1e1e1e;
}

/* Precio venta */
.texto-venta {
    font-size: 15px;
    color: #6b6252;
    font-weight: 600;
    margin-bottom: 15px;
}

/* Botón */
.card-venta button {
    padding: 10px 14px;
    background-color: #1e1e1e;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.card-venta button:hover {
    background-color: #000000;
}


/* NOSOTROS - GRID*/

.nosotros-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 60px;
    background-color: #f4f4f4;
}


.nosotros-grid section:first-child {
    grid-column: 1 / -1;
}


.nosotros-grid section {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}


.nosotros-grid h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #1e1e1e;
}


.nosotros-grid p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}


.nosotros-grid section:nth-child(2) {
    background-color: #1e1e1e;
}

.nosotros-grid section:nth-child(2) h2,
.nosotros-grid section:nth-child(2) p {
    color: #ffffff;
}

/*  CONTACTO  */

.contacto-page {
    max-width: 800px;
    margin: 0 auto;
}

/* Texto introductorio */
.contacto-page h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contacto-page p {
    color: #555;
    margin-bottom: 30px;
}

/* Formulario */
.contacto-form {
    background-color: #f6f6f6;
    padding: 30px;
    border-radius: 6px;
}

.contacto-form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contacto-form label {
    font-size: 14px;
    margin-bottom: 6px;
    color: #333;
}

.contacto-form input,
.contacto-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 4px;
}

.contacto-form textarea {
    resize: vertical;
    min-height: 120px;
}

.contacto-form input:focus,
.contacto-form textarea:focus {
    outline: none;
    border-color: #1e1e1e;
}

/* Botón */
.contacto-form button {
    background-color: #1e1e1e;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    width: fit-content;
}

.contacto-form button:hover {
    background-color: #000;
}


/*  BARRA DE NAVEGACIÓN  */

.barra-navegacion {
    padding: 20px 0;
}

.logo-principal {
    font-size: 22px;
    font-weight: bold;
}

.link-menu {
    font-size: 14px;
    margin-left: 15px;
}

/*  PORTADA  */

.portada {
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*  NAVBAR  PORTADA  */

.barra-navegacion {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(30, 30, 30, 0.8)
    backdrop-filter: blur(6px);
}


/* Marca */
.barra-navegacion .navbar-brand {
    color: #c2b59b 
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.8px;
}


/* Links */
.barra-navegacion .nav-link {
    color: #e6e6e6 
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.barra-navegacion .nav-link:hover {
    color: #c2b59b 
}

/* margen  */
.navbar {
    margin-bottom: 0;
}

/* Botón hamburguesa */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.4);
}

.navbar-toggler-icon {
    filter: invert(1);
}

/* Fondo PROPIEDADES DESTACADAS */
.propiedades {
    background-color: #f7f7f7;
    padding: 80px 40px;
}

/* Título principal */
.propiedades h2 {
    color: #3f5f5a;
    font-size: 32px;
}

/* Subtítulo */
.propiedades p {
    color: #555;
}
.card-propiedad {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}
.card-propiedad button {
    background-color: #3f5f5a;
}

.card-propiedad button:hover {
    background-color: #2f4a46;
}


/*  RESPONSIVE  */

@media (max-width: 768px) {

    /* NOSOTROS */
    .nosotros-grid {
        grid-template-columns: 1fr;
        padding: 30px;
        gap: 25px;
    }

    .nosotros-grid section {
        padding: 25px;
    }

    .nosotros-grid h2 {
        font-size: 22px;
    }

    .nosotros-grid p {
        font-size: 15px;
    }
}

/* CONTACTO */

@media (max-width: 768px) {

    /* CONTACTO */
    .contacto-page {
        padding: 20px;
    }

    .contacto-form {
        padding: 20px;
    }

    .contacto-page h2 {
        font-size: 24px;
    }

    .contacto-form button {
        width: 100%;
        text-align: center;
    }
}
